html
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Desafio Pug
    body 
        h1= "Animes!"
        form(action="/productos" method="POST")
            p Titulo:
            input(type="text" name="title" placeholder="Attack on titan")
            p Personaje principal:
            input(type="text" name="mainCharacter" placeholder="Levi")
            button(type="submit") Submit